    <header>
        <div class="header-content">
            <h1><a href="/" class="logo-link">CSE Motors</a></h1>
            <a href="/account" class="account-link" aria-label="My Account">
                <span class="sr-only">My Account</span>
            Account
            </a>
        </div>
    </header>