<nav aria-label="Main navigation">
    <ul role="menubar">
        <li role="none">
            <a href="/" 
               class="<%= (title === 'Home') ? 'active' : '' %>" 
               role="menuitem" 
               tabindex="0"
               <%= (title === 'Home') ? 'aria-current="page"' : '' %>>
                Home
            </a>
        </li>
        <% if (typeof classifications !== 'undefined' && classifications.length) { %>
            <% classifications.forEach(function(classification) { %>
                <li role="none">
                    <a href="/inv/type/<%= classification.classification_id %>"
                       role="menuitem"
                       tabindex="0">
                        <%= classification.classification_name %>
                    </a>
                </li>
            <% }); %>
        <% } %>
    </ul>
</nav>
