<h1><%= errorCode %> Error</h1>
<main class="error-container">
  <div class="error-content">
    <img src="/images/site-crash.png" alt="Site crash" style="max-width:100%;">
    <p class="error-message"><%= message %></p>
  </div>
</main>
